.main
{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    width: 700px;
    min-height: 480px;
}

.form-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 50px;
}

.social-icons{
    margin: 20px 0;
}

.social-icons a{
    border: 1px solid #ccc;
    border-radius: 20%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    width: 40px;
    height: 40px;
}
.use
{
    font-size: 13px;
    line-height: 5px;
    letter-spacing: 0.3px;
    margin: 5px 0;
}
.form-container input
{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 30px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline-color: #512da8;
}
.form-container button
{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 8px 25px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}
.toggle
{
    background-color: #512da8;
    width: 50%;
    height: 480px;
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    transition: all 0.6s ease-in-out;
    border-radius: 150px 30px 30px 100px;
}
.toggle-container
{
    display: flex;
    gap: 15px;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 30px;
}
.toggle-container p
{
    font-size: small;
    text-align: center;
}
.toggle-container button
{
    background-color: transparent;
    color: #fff;
    font-size: 12px;
    padding: 10px 30px;
    border: 1px solid white;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;

}
